BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LEDPIO_OUT[0]" SITE "N13" ;
LOCATE COMP "LEDPIO_OUT[1]" SITE "M12" ;
LOCATE COMP "LEDPIO_OUT[2]" SITE "P12" ;
LOCATE COMP "LEDPIO_OUT[3]" SITE "M11" ;
IOBUF PORT "LEDPIO_OUT[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDPIO_OUT[1]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "LEDPIO_OUT[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDPIO_OUT[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDPIO_OUT[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDPIO_OUT[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDPIO_OUT[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDPIO_OUT[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uartSOUT" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LEDPIO_OUT[4]" SITE "P11" ;
LOCATE COMP "LEDPIO_OUT[5]" SITE "N10" ;
LOCATE COMP "LEDPIO_OUT[6]" SITE "N9" ;
LOCATE COMP "LEDPIO_OUT[7]" SITE "P9" ;
LOCATE COMP "clk_i" SITE "C1" ;
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "reset_n" SITE "L14" ;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "RGB1[0]" SITE "M2" ;
LOCATE COMP "RGB1[1]" SITE "N2" ;
LOCATE COMP "RGB1[2]" SITE "P2" ;
LOCATE COMP "RGB2[0]" SITE "P4" ;
LOCATE COMP "RGB2[1]" SITE "N3" ;
LOCATE COMP "RGB2[2]" SITE "M3" ;
IOBUF PORT "RGB1[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGB1[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGB1[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGB2[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGB2[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGB2[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DIPSWPIO_IN[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DIPSWPIO_IN[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DIPSWPIO_IN[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DIPSWPIO_IN[3]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "DIPSWPIO_IN[0]" SITE "M7" ;
LOCATE COMP "DIPSWPIO_IN[1]" SITE "M8" ;
LOCATE COMP "DIPSWPIO_IN[2]" SITE "M9" ;
LOCATE COMP "DIPSWPIO_IN[3]" SITE "M10" ;
