
#Port Assignments
LOCATE COMP "reset_n" SITE "L14" ;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=SMALL ;
IOBUF PORT "uartSIN" IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=SMALL ;
LOCATE COMP "clk_i" SITE "C1" ;
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=SMALL ;
LOCATE COMP "LEDPIO_OUT[7]" SITE "P9" ;
OUTPUT PORT "LEDPIO_OUT[7]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[7]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "LEDPIO_OUT[6]" SITE "N9" ;
OUTPUT PORT "LEDPIO_OUT[6]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[6]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "LEDPIO_OUT[5]" SITE "N10" ;
OUTPUT PORT "LEDPIO_OUT[5]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[5]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "LEDPIO_OUT[4]" SITE "P11" ;
OUTPUT PORT "LEDPIO_OUT[4]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[4]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "LEDPIO_OUT[3]" SITE "M11" ;
OUTPUT PORT "LEDPIO_OUT[3]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[3]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "LEDPIO_OUT[2]" SITE "P12" ;
OUTPUT PORT "LEDPIO_OUT[2]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[2]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "LEDPIO_OUT[1]" SITE "M12" ;
OUTPUT PORT "LEDPIO_OUT[1]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[1]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "LEDPIO_OUT[0]" SITE "N13" ;
OUTPUT PORT "LEDPIO_OUT[0]" LOAD 0.000000 pF ;
SSO PORT "LEDPIO_OUT[0]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "LEDPIO_OUT[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
OUTPUT PORT "uartSOUT" LOAD 0.000000 pF ;
SSO PORT "uartSOUT"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "uartSOUT" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "rgb1[2]" SITE "P2" ;
OUTPUT PORT "rgb1[2]" LOAD 0.000000 pF ;
SSO PORT "rgb1[2]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "rgb1[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "rgb1[1]" SITE "N2" ;
OUTPUT PORT "rgb1[1]" LOAD 0.000000 pF ;
SSO PORT "rgb1[1]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "rgb1[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "rgb1[0]" SITE "M2" ;
OUTPUT PORT "rgb1[0]" LOAD 0.000000 pF ;
SSO PORT "rgb1[0]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "rgb1[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "rgb2[2]" SITE "M3" ;
OUTPUT PORT "rgb2[2]" LOAD 0.000000 pF ;
SSO PORT "rgb2[2]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "rgb2[2]" IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "rgb2[1]" SITE "N3" ;
OUTPUT PORT "rgb2[1]" LOAD 0.000000 pF ;
SSO PORT "rgb2[1]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "rgb2[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
LOCATE COMP "rgb2[0]" SITE "P4" ;
OUTPUT PORT "rgb2[0]" LOAD 0.000000 pF ;
SSO PORT "rgb2[0]"  SSO_Noise=0.00 SSO_Noise_Drop=-0.00 SSO_Allowance=100.00 ;
IOBUF PORT "rgb2[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;

#Global Preferences
TEMPERATURE 85.000 C;
VOLTAGE 2.375 V;
BLOCK ASYNCPATHS ;
BLOCK RESETPATHS ;
SYSCONFIG SDM_PORT=DISABLE SLAVE_SPI_PORT=DISABLE I2C_PORT=DISABLE MASTER_SPI_PORT=DISABLE COMPRESS_CONFIG=ON CONFIGURATION=CFG MY_ASSP=OFF ONE_TIME_PROGRAM=OFF CONFIG_SECURE=OFF MCCLK_FREQ=2.08 JTAG_PORT=ENABLE ENABLE_TRANSFR=DISABLE SHAREDEBRINIT=DISABLE MUX_CONFIGURATION_PORTS=DISABLE BACKGROUND_RECONFIG=OFF INBUF=ON ;
USERCODE BIN "00000000000000000000000000000000" ; 
TRACEID "00000000" ; 
