BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "inpe" SITE "N14" ;
IOBUF PORT "inpe" IO_TYPE=LVCMOS33 ;
IOBUF PORT "outpe" IO_TYPE=LVCMOS33 ;
LOCATE COMP "outpe" SITE "N13" ;
LOCATE COMP "inape" SITE "L14" ;
LOCATE COMP "inbpe" SITE "M13" ;
IOBUF PORT "inape" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "inbpe" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
